version: "3.8"

services:
    fastapi-app:
        build: .
        ports:
            - "8000:8000"
        environment:
            - MONGODB_URL=mongodb://mongodb:27017
        depends_on:
            - mongodb
        volumes:
            - .:/app

    mongodb:
        image: mongo:7.0
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db

volumes:
    mongo_data:
